*{
    padding: 0;
}
tr{
    transition: background-color 2s;
    transition:all 2s;
}
tr th{
    height: 100px;
}
tr td{
    height: 100px;
    text-align: center;
    margin: auto;
}
.add{
    display: flex;
    height: 130px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content:space-around;
    margin-top: 30px;
}
.add input{
    height: 20px;
}
